<!--
10h43 1 novembre 2023 
Dylan Ducas
-->
<h1><%= @business.name %></h1>
<div style="margin: 2%;">
    <h1>Info</h1>
    <table>
        <tr> 
            <td>Nom:</td> 
            <td><%= @business.name %></td> 
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= @business.description %></td>
        </tr>
        <tr>
            <td>Site:</td>
            <td><%= link_to @business.site_web, @business.site_web %></td>
        </td>
    </table>
    <h1>Menus</h1>
    <% @business.menus.each do |menu| %>
        <h2><%= menu.title %></h2>
        <% menu.menus.each do |sub_menu| %>
            <h3><%= sub_menu.title %></h3>
            <ul>
                <% sub_menu.items.each do |item| %>
                    <li>
                        <%= item.name %>
                        <br>
                        <%= item.price %>$
                        <br>
                        <%= item.description %>
                        <hr>
                    </li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>
